<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>802823199567-ns9etdstmapt9osmdj9l70ljpm60g3t9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802823199567-ns9etdstmapt9osmdj9l70ljpm60g3t9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>802823199567-lspq1ralv8usp770082dejdg8npdhbqk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDHHht_6tXufxbq0C_Puji6XstH3Y4NEv4</string>
	<key>GCM_SENDER_ID</key>
	<string>802823199567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.estrellas.dashboard.dev</string>
	<key>PROJECT_ID</key>
	<string>estrellas-dev-ecd61</string>
	<key>STORAGE_BUCKET</key>
	<string>estrellas-dev-ecd61.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802823199567:ios:2a1f27f9bbb989bc5e033a</string>
	<key>DATABASE_URL</key>
	<string>https://estrellas-dev-ecd61-default-rtdb.firebaseio.com</string>
</dict>
</plist>